nav {
	position: fixed;
	z-index: 2;
	height: 50px;
	width: 100%;
	padding-top: 15px;
	text-align: right;
	background-color: gainsboro;
	border-bottom: 1px solid lightgrey;
}

.page-title {
	position: absolute;
	left: 15px;
	margin-top: 0;
	font-weight: normal;
}

.navbar-item {
	font-size: 20px;
}

nav ul {
	display: inline-block;
	list-style: none;
	margin-top: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: purple;
}

main {
	z-index: 1;
	padding-left: 80px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.search {
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
}

form label {
	font-size: 14px;
	padding-left: 5px;
}

.search-row {
	margin-top: 5px;
	height: 30px;
}

.input-search {
	width: 50%;
	height: 100%;
	padding-left: 5px;
	border-color: lightgrey;
	border-style: solid;
	border-radius: 3px;
	border-width: 1px;
}

.btn-search {
	position: absolute;
	width: 30px;
	height: 30px;
	padding: 0px;
	margin-left: 5px;
	background-color: transparent;
	border-style: solid;
	border-width: 1px;
	border-color: lightgrey;
	border-radius: 3px;
}

.search-icon {
	width: 26px;
}

.nav-panel {
	font-size: 0;
	margin-top: 30px;
	margin-bottom: 50px;
}

.nav-panel button {
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	border-style: solid;
	border-color: lightgrey;
	border-width: 1px;
	font-size: 15px;
}

.nav-panel .btn-left {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-right: none;
}

.nav-panel .btn-right {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;	
	border-left: none;
}

.results-list {
	margin-top: 30px;
}

.results-list ul {
	list-style: none;
	padding-left: 0;
}

.results-list li {
	margin-bottom: 15px;
}

.results-list span {
	margin-right: 10px;
}

.date, .location {
	color: grey;
}

.title {
	color: blue;
	font-weight: bold;
}
