#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

#bg img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	min-height: 50%;
	min-width: 50%;
}

nav {
	position: fixed;
	padding-left: 60px;
	padding-right: 60px;
	background-color: grey;
	height: 60px;
	width: 100%;
}

.profile-pic {
	position: absolute;
	left: 30px;
	top: 5px;
	width: 50px;
	/*clip-path: circle(50%);*/
	border-radius: 50%;
	border: 1px solid black;
}

nav li {
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
}

nav a::after {
	content: "|";
	margin-left: 5px;
}

.box {
	position: relative;
	top: 250px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 300px;
	border: 10px green dotted;
}

.box img {
	position: absolute;
	width: 200px;
	height: 200px;
}

.left-top {
	top: -100px;
	left: -100px;
}

.right-bottom {
	bottom: -100px;
	right: -100px;
}
